@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-fondo: #000000;
    --color-letras: #F6F6F6;
    --color-estilo: #22D4FD;
    --color-hover: #272727;

    --fuente-titulo: "Krona One", serif;
    --fuente-parrafo: "Montserrat", serif;

    --fuente-size-grande: 2.25rem;
    --fuente-size-intermedia: 1.875rem;
    --fuente-size-pequena: 1.5rem;
    
}

* {
    padding: 0;
    margin: 0;
}

.header {
    padding: 2% 0% 0% 11%;
}

.header__menu {
    display: flex;
    gap: 5rem
    
}

.header__menu__link {
    display: flex;
    justify-content: space-between;
    font-family: var(--fuente-parrafo);
    font-weight: 600;
    font-size: var(--fuente-size-pequena);
    color: var(--color-estilo);
    text-decoration: none;
}

body {
   /* height: 100vh; /* 100% del viewport height */
    box-sizing: border-box;
    background-color: var(--color-fondo);
    color: var(--color-letras);
    strong {
        color:var(--color-estilo);
    }
} 

.titulo-destaque {
    color: var(--color-estilo); ;
}

.presentacion {
    display: flex;
    padding: 6% 12% 6% 7%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    /*height: 482px;*/
    gap: 2.5rem;
}

.presentacion__contenido__titulo {
    font-size: var(--fuente-size-grande);
    font-family: var(--fuente-titulo);
    margin: 2.5% 10%;
    
}

.presentacion__contenido__parrafo {
    font-size: var(--fuente-size-pequena);
    font-family: var(--fuente-parrafo);
    margin: 2% 10%;
}

.presentacion__enlaces {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.presentacion__enlaces__subtitulo {
    font-size: var(--fuente-size-pequena);
    font-family: var(--fuente-titulo);

}

.presentacion__enlaces__botones {
    width: 50%;
    background-color: var(--color-fondo) ;
    color: var(--color-letras); 
    text-align: center;
    padding: 1.34375rem 0;
    border-radius: 0.5rem;
    font-family: var(--fuente-parrafo);
    font-size: var(--fuente-size-intermedia);
    font-weight: 600;
    text-decoration: none;
    border: 2px solid var(--color-estilo);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem
}

.presentacion__enlaces__botones:hover {
    background-color: var(--color-hover);
}

.presentacion__imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    /*height: 35%;*/
}

.footer {
    background-color: var(--color-estilo);
    padding: 1.475rem;
    color: var(--color-fondo);
    text-align: center;
    font-family: var(--fuente-parrafo)  ;
    font-size: var(--fuente-size-pequena);
    font-weight: 400;
}

@media (max-width: 1200px) {

    .header {
        padding: 10%;
    }
    
    .header__menu {
       justify-content: center;
    }

    .presentacion {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}