@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin:0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
    strong {
        color:rgb(5, 195, 170)
    }
} 

.titulo-destaque {
    color: #22D4FD; ;
}

.presentacion {
    display: flex;
    align-items: center;
    margin: 10%;
    justify-content: space-between;
}

.presentacion__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 615px;
    height: 482px;
}

.presentacion__contenido__titulo {
    font-size: 36px;
    font-family: "Krona One", serif;
    
}

.presentacion__contenido__parrafo {
    font-size: 24px;
    font-family: "Montserrat", serif;
}