@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-fondo: #000000;
    --color-letras: #F6F6F6;
    --color-estilo: #22D4FD;
    --color-hover: #272727;

    --fuente-titulo: "Krona One", serif;
    --fuente-parrafo: "Montserrat", serif;
}

* {
    padding: 0;
    margin: 0;
}

.header {
    padding: 2% 0% 0% 7%;
}

.header__menu {
    display: flex;
    gap: 80px
    
}

.header__menu__link {
    display: flex;
    justify-content: space-between;
    font-family: var(--fuente-parrafo);
    font-weight: 600;
    font-size: 24px;
    color: var(--color-estilo);
    text-decoration: none;
}

body {
   /* height: 100vh; /* 100% del viewport height */
    box-sizing: border-box;
    background-color: var(--color-fondo);
    color: var(--color-letras);
    strong {
        color:var(--color-estilo);
    }
} 

.titulo-destaque {
    color: var(--color-estilo); ;
}

.presentacion {
    display: flex;
    padding: 6% 12% 6% 7%;
    justify-content: space-between;
}

.presentacion__contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 615px;
    /*height: 482px;*/
    gap: 40px;
}

.presentacion__contenido__titulo {
    font-size: 36px;
    font-family: var(--fuente-titulo);
    margin: 2.5% 0;
    
}

.presentacion__contenido__parrafo {
    font-size: 24px;
    font-family: var(--fuente-parrafo);
    margin: 0% 0;
}

.presentacion__enlaces {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo {
    font-size: 24px;
    font-family: var(--fuente-titulo);

}

.presentacion__enlaces__botones {
    width: 378px;
    background-color: var(--color-fondo) ;
    color: var(--color-letras); 
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-parrafo);
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid var(--color-estilo);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px
}

.presentacion__enlaces__botones:hover {
    background-color: var(--color-hover);
}

.foto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 550px;
}

.footer {
    background-color: var(--color-estilo);
    padding: 23.6px;
    color: var(--color-fondo);
    text-align: center;
    font-family: var(--fuente-parrafo)  ;
    font-size: 24px;
    font-weight: 400;
}